/* Fontawesome 4.7 */
@import url("https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css");
/* XEION CDN */
@import url("https://cdn.jsdelivr.net/gh/xpressengine/XEIcon/xeicon.min.css");
/* NotoSans */
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100..900&display=swap');

/* ############################# Reset.css ############################# */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  list-style: none;
}
html {
  scroll-behavior: smooth;
}
body {
  font-family: "Noto Sans KR", sans-serif;
  font-weight: normal;
  background-color: #fff;
  height: 100vh;
  color: #222;
}
a {
  text-decoration: none;
  color: #3E3E43;
}
button,
input, select {
  outline: none;
}
button {
  cursor: pointer;
}
hr {
  padding: 0;
}
h1, h2, h3, h4, h5, h6 {
  margin-top: 0;
  font-weight: normal;
  line-height: 1.5em;
}
textarea {
  white-space: pre-line;
  resize: none;
  flex-grow: 1;
  display: inline-block;
}
textarea:focus {
  outline: none;
}
textarea::placeholder {
  font-size: 14px;
}
i {
  font-style: normal;
}
input, select {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
}
table {
  word-break: break-word;
  white-space: normal;
}
table td {
  overflow: hidden;
  text-overflow: ellipsis;
}
.basic-table th,
.basic-table td {
  height: 35px;
}

/* ############################# Common.css ############################# */
/* print icon */
.print::before {
  content: "\e9bb";
  font-family: xeicon;
  color: #747477;
  margin-right: 5px;
  font-size: 18px;
}
.print {
  color: #747477;
  font-weight: 500;
  display: flex;
  align-items: center;
  font-size: 14px;
  background: #fff;
}
.print-title {
  display: flex;
  align-items: first baseline;
  justify-content: space-between;
}
.print:hover {
  color: #4e4e4e;
}
.a4-print {
  width: 210mm; 
  height: 297mm;
  margin: auto;
}
.a4-print .move-t-frame,
.a4-print .out-frame {
  overflow-y: auto;
  overflow: auto;
  max-height: none;
  height: auto;
}
/* textarea, table bar custom */
textarea::-webkit-scrollbar,
.table-frame::-webkit-scrollbar {
  width: 5px;
  height: 8px;
}
textarea::-webkit-scrollbar-track,
.table-frame::-webkit-scrollbar-track {
  background: #eef3ff;
  border-radius: 5px;
}
textarea::-webkit-scrollbar-thumb,
.table-frame::-webkit-scrollbar-thumb {
  background: #334DD7;
  border-radius: 5px;
}
textarea::-webkit-scrollbar-thumb:hover,
.table-frame::-webkit-scrollbar-thumb:hover {
  background: #2b3eb2;
  cursor: pointer;
}
/* table yellow hover */
.yh tbody tr:hover {
  background: #FFD236;
}
/* odd stripe hover */
.stripe tr:nth-child(odd) {
  background: #F7F9FF;
}
/* table custom */
tbody tr {
  transition: .3s ease;
}
.table-frame {
  border-radius: 10px;
  border: 2px solid #DCE4F5;
  overflow: hidden;
  max-height: 350px;
  overflow-y: auto;
}
.table-frame table {
  width: 100%;
  font-size: 14px;
  border-collapse: collapse;
}
.basic-table {
  width: 100%;
  border-collapse: collapse;
  border-style: hidden;
  table-layout: fixed;
}
.basic-table tr {
  padding: 8px 10px;
  text-align: center;
  border: 1px solid #DCE4F5;
  line-height: 2.5rem;
}
.normal-table-frame {
  border: 1px solid #E9E9E9;
  font-size: 14px;
  overflow: hidden;
  overflow-y: auto;
}
.normal-table {
  table-layout: fixed;
  width: 100%;
  text-align: center;
  border-collapse: collapse;
}
.normal-table tr {
  border: 1px solid #E9E9E9;
  padding: 8px 10px;
  line-height: 2.5rem;
}

/* common input, select custom */
input::placeholder {
  color: #B8BFCE;
}
input[type="text"]:focus::placeholder,
input[type="password"]:focus::placeholder,
textarea:focus::placeholder {
  visibility: hidden;
}
input[type="text"]:focus {
  outline: none;
  box-shadow: 0 0 3px rgba(46, 71, 197, 0.5);
  transition: box-shadow 0.3s ease;
}
.basic-input,
.basic-select select,
.date-input {
  border-radius: 5px;
  background: #EEF3FF;
}
.normal-input,
.basic-input,
.basic-select select,
.normal-select select,
.date-input,
.normal-date-input,
.normal-time-input {
  appearance: none;
  background-size: 16px;
  border: 1px solid #D1DCF4;
  padding: 8px 10px;
  height: 30px;
  width: 100%;
  font-size: 12px;
}
.basic-select {
  width: 100%;
}
.normal-input,
.normal-date-input,
.normal-time-input {
  border: 1px solid #bdbdbd;
  background: #fff;
}
.basic-select select {
  appearance: none;
  cursor: pointer;
  -webkit-appearance: none;
  -moz-appearance: none;
}
.basic-select,
.normal-select {
  position: relative;
}
.basic-select::after {
  content: "\e943";
  font-family: xeicon;
  position: absolute;
  top: 50%;
  right: 10px;
  transform: translateY(-50%);
  pointer-events: none;
  color: #bbb;
  font-weight: bold;
  font-size: 14px;
}
/* normal checkbox custom */
.normal-checkbox {
  display: flex;
  align-items: center;
}
.normal-checkbox input[type="checkbox"] {
  width: 18px;
  height: 18px;
  border: 2px solid #BABABB;
  background-color: white;
  border-radius: 0%;
}
.normal-select {
  position: relative;
  display: inline-block;
  width: 100px;
}
.normal-select select {
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  width: 100%;
  padding: 8px;
  background: #fff;
  border: 1px solid #bdbdbd;
  cursor: pointer;
}
.normal-select::after {
  content: "\e943";
  font-family: xeicon;
  position: absolute;
  right: 10px;
  top: 50%;
  transform: translateY(-50%);
  pointer-events: none;
  font-size: 14px;
  color: rgb(192, 190, 190);
  font-weight: bold;
}
/* radio custom */
.radio-group input[type="radio"] {
  border-radius: 50%;
}
.checkbox-group input[type="checkbox"] {
  border-radius: 20%;
}
.radio-group input[type="radio"],
.checkbox-group input[type="checkbox"] {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  cursor: pointer;
  width: 18px;
  height: 18px;
  position: relative;
  margin-right: 5px;
  background-color: #C0CEED;
  border: 1px solid transparent;
  vertical-align: middle;
}
.radio-group,
.checkbox-group,
.normal-checkbox {
  display: flex;
  align-items: center;
}
.radio-group input[type="radio"]:checked,
.checkbox-group input[type="checkbox"]:checked {
  background-color: #334DD7;
  border-color: transparent;
}
.radio-group input[type="radio"]:checked::after,
.checkbox-group input[type="checkbox"]:checked::after {
  content: "\e928";
  font-family: xeicon;
  font-size: 12px;
  color: #fff;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  border: transparent;
}
/* normal radio */
.normal-radio input[type="radio"] {
  transform: scale(1.3);
  margin: 0px 5px;
  cursor: pointer;
}
.normal-checkbox input[type="checkbox"]
{
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  width: 18px;
  border: 2px solid #BEBEBE;
}
/* table in checkbox-group */
table .checkbox-group,
table .normal-checkbox {
  margin: 0;
  display: block;
}
/* arrow custom */
.arrow-left,
.arrow-right {
  font-size: 20px;
  cursor: pointer;
  background: #DEE8FE;
  border: none;
  display: flex;
  align-items: center;
  padding: 5px;
  border-radius: 50%;
}
.arrow-left:after,
.arrow-right:after {
  font-family: xeicon;
  color: #B9C7E8;
}
.arrow-left:after {
  content: "\e93b";
}
.arrow-right::after {
  content: "\e93e";
}
/* common title */
.common-title {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}
.common-title h2 {
  font-size: 20px;
  font-weight: 500;
}
.manage-table-frame {
  margin-top: 50px;
}
.small-title {
  font-weight: 500;
  margin: 10px 0px;
}
/* common button */
.common-button-frame {
  text-align: right;
  margin-bottom: 20px;
}
.new-regist,
.common-button {
  background: #40C5D7;
  padding: 5px 18px;
  border-radius: 20px;
  color: #fff;
  cursor: pointer;
  display: inline-flex;
  margin-left: auto;
  border: none;
}
/* ======================= login page ======================= */
.login-container {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  max-width: 400px;
  height: 100vh;
  margin: 0 auto;
}
.login-inner {
  width: 100%;
}
.login-logo img {
  width: 300px;
  margin-bottom: 10px;
}
.logo-subtitle {
  letter-spacing: 10px;
  font-size: 13px;
  margin-bottom: 60px;
  color: #65688b;
}
#login-form > input[type="text"],
#login-form > input[type="password"] {
  width: 100%;
  padding: 15px;
  font-size: 14px;
  border: 1px solid #ddd;
  border-radius: 5px;
  outline: none;
  box-sizing: border-box;
  background: #EEF3FF;
}
#login-form > input[type="text"] {
  margin-bottom: 20px;
}
#login-form > input[type="text"]:focus,
input[type="password"]:focus,
.join-group input[type="text"]:focus {
  outline: none;
  box-shadow: 0 0 4px rgba(46, 71, 197, 0.5);
  transition: box-shadow 0.3s ease;
}
.checkbox-group {
  color: #525252;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
.checkbox-group label {
  cursor: pointer;
}
.join-group .checkbox-group label {
  font-size: 14px;
}
.join-group input[type="checkbox"],
input[type="checkbox"] {
  cursor: pointer;
  width: 16px;
  height: 16px;
  border-radius: 50%;
  position: relative;
  margin-right: 5px;
}
input[type="checkbox"]:checked {
  background-color: #334DD7;
  border-color: #334DD7;
}
input[type="checkbox"]:checked::after {
  content: "\e928";
  font-family: xeicon;
  font-size: 12px;
  color: #fff;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
}
/* normal-checkbox */
.normal-checkbox {
  border-radius: 0%;
}
.login-button {
  width: 100%;
  padding: 10px;
  border-radius: 20px;
  color: #fff;
  background-color: #334DD7;
  border: 1px solid transparent;
  font-size: 16px;
  font-weight: bold;
  cursor: pointer;
  transition: .3s;
}
.login-button:hover,
.join-button:hover {
  background: #fff;
  color: #334DD7;
  border: 1px solid #334DD7;
}

/* ======================= menu page ======================= */
.menu-container {
  display: flex;
  height: 100vh;
  background: #fff;
}
.menu-container > div {
  height: 100vh;
  display: flex;
  align-items: center;
}
.menu-title {
  flex: 1;
  text-align: center;
  margin: 0 50px;
}
.menu-logo img {
  width: 300px;
}
.menu-logo .logo-subtitle {
  margin-bottom: 0px;
  font-size: 11px;
  font-weight: bold;
  margin-top: 10px;
}
.menu {
  flex: 5;
  background: #DCE4F8;
  border-radius: 25px 0 0 25px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  justify-content: center;
}
.menu-desc {
  width: 75%;
}
.menu-exit {
  display: flex;
  justify-content: flex-end;
}
.exit-icon {
  background: #BBC6E0;
  width: 55px;
  height: 37px;
  border-radius: 20px;
  position: relative;
}
.exit-icon:hover {
  background: #97a0b4;
  transition: .3s ease;
}
.exit-icon img {
  width: 20px;
  height: auto;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.menu-greet {
  display: flex;
  align-items: center;
  font-size: 26px;
  margin-bottom: 20px;
}
.highlight {
  color: #334DD7;
  margin: 0 4px;
  font-weight: bold;
}
.menu-notice {
  display: flex;
  align-items: center;
  background: #F7F9FF;
  padding: 25px;
  border-radius: 15px;
  color: #6E6F76;
  margin: 30px 0px 35px 0px;
  font-size: 21px;
}
.menu-notice:hover {
  text-decoration: underline;
}
.menu-notice > img {
  margin-right: 15px;
  width: 30px;
}
.menu-items {
  display: flex;
  justify-content: space-between;
  gap: 15px;
}
.menu-item {
  background: #fff;
  padding: 5px 50px 30px 30px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.05);
  flex: 1;
  min-height: 250px;
}
.menu-item:last-child {
  margin-right: 0;
}
.menu-item img {
  width: 150px;
  height: 150px;
  object-fit: contain;
  margin-bottom: 15px;
}
.menu-item:nth-last-child(2) img {
  width: 130px;
}
.menu-item h2 {
  font-size: 30px;
  color: #0960F1;
  font-weight: bold;
}
.menu-item:nth-child(2) h2 {
  color: #EE4D79;
}
.menu-item:nth-child(2) button {
  background: #EE4D79;
}
.menu-item:nth-child(3) h2 {
  color: #3DB253;
}
.menu-item:nth-child(3) button {
  background: #3DB253;
}
.menu-item p {
  color: #3f4152;
  font-size: 18px;
  margin: 10px 0px 25px 0px;
}
.menu-item > button {
  padding: 10px 30px;
  border-radius: 30px;
  border: none;
  background: #0960F1;
  color: #fff;
  font-weight: bold;
  cursor: pointer;
  transition: all 0.3s ease;
  font-size: 18px;
}
.menu-item > button:hover {
  background-color: #084ab8;
}
.menu-item:nth-child(2) > button:hover {
  background-color: #c03d60;
}
.menu-item:nth-child(3) > button:hover {
  background-color: #2c813c;
}
.input-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 100%;
  margin-top: 40px;
}
.menu-input {
  display: flex;
  align-items: center;
  background: #bbc6e0;
  padding: 36px 30px;
  border-radius: 50px;
  flex: 3;
  margin-right: 50px;
  height: 60px;
  box-sizing: border-box;
}
.input-label {
  font-size: 20px;
  color: #5b657e;
  font-weight: bold;
  margin-right: 20px;
}
.input-button {
  padding: 8px 20px;
  border: none;
  background: transparent ;
  color: white;
  font-size: 21px;
  font-weight: bold;
  border-radius: 20px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  margin-left: 15px;
}
.input-box {
  flex: 1;
  border: none;
  outline: none;
  padding: 0 10px;
  font-size: 26px;
  background: #a2aec9;
  color: #2c2727;
  height: 40px;
}
.input-box::placeholder {
  font-size: 14px;
  padding-left: 10px;
}
.input-box:focus::placeholder {
  font-size: 14px;
}
.input-button:hover {
  background-color: #454c5f;
}
.evaluation-button {
  flex: 1;
  border: none;
  background: #f8f9ff;
  color: #6e6f76;
  font-size: 24px;
  font-weight: bold;
  padding: 8px 20px;
  border-radius: 50px;
  cursor: pointer;
  height: 60px;
  transition: .3s ease;
}
.evaluation-button:hover {
  background: #696a70;
  color: #fff;
}

/* ======================= join page ======================= */
.join-container {
  max-width: 650px;
  margin: auto;
  display: flex;
  flex-direction: column;
  background: #fff;
}
.join-section {
  background: #334DD7;
  color: #fff;
  padding: 80px 0px 50px 0px;
  text-align: center;
}
.join-logo {
  filter: brightness(0) invert(1);
  width: 200px;
}
.join-title {
  font-weight: bold;
  font-size: 35px;
}
.join-subtitle {
  color: #9BA5E9;
  margin-top: 15px;
  font-size: 14px;
}
.join-form {
  padding: 29px;
}
.join-group {
  margin-top: 20px;
}
.join-group label {
  display: block;
  margin-bottom: 10px;
  font-size: 16px;
}
.join-group input:not([type="checkbox"]),
.join-group select,
textarea,
canvas {
  width: 100%;
  padding: 15px;
  border: 1px solid #D1DCF4;
  background: #EEF3FF;
  border-radius: 5px;
}
.join-group input:not([type="checkbox"]),
.join-group select {
  padding: 10px;
}
.join-group input::placeholder {
  color: #B8BFCE;
}
.join-select select {
  appearance: none;
  cursor: pointer;
}
.join-select {
  position: relative;
}
.join-select::after {
  content: "\e943";
  font-family: xeicon;
  position: absolute;
  top: 50%;
  right: 10px;
  transform: translateY(-50%);
  pointer-events: none;
  color: #bbb;
  font-weight: bold;
  font-size: 14px;
}
.join-group textarea {
  line-height: 1.5em;
}
.join-line {
  border: 1px solid #E2E2E2;
  margin: 80px 0px 80px 0;
}
.join-consent {
  text-align: center;
}
.join-group h2 {
  font-weight: bold;
  font-size: 28px;
  color: #383838;
}
.join-group p {
  color: #7C7C7C;
  margin-top: 20px;
  margin-bottom: 80px;
}
.join-group .checkbox-group {
  margin-top: 5px;
}
.join-frame {
  margin: 20px 0px 30px 0px;
}
.phone-inputs {
  display: flex;
  align-items: center;
}
.dash {
  color: #666;
  padding: 10px;
}
.signature-container {
  margin: 20px 0;
  font-family: Arial, sans-serif;
  font-size: 14px;
  color: #333;
}
.signature-container label {
  display: block;
  margin-bottom: 10px;
  font-weight: bold;
}
#signature-pad {
  border: 1px solid #d1d5db;
  border-radius: 5px;
  background-color: #f5f9ff;
  cursor: crosshair;
  display: block;
}
#clear-button {
  margin-top: 10px;
  padding: 10px 20px;
  border: 1px solid #d1d5db;
  background-color: #ffffff;
  color: #333;
  border-radius: 5px;
  cursor: pointer;
}
#clear-button:hover {
  background-color: #f0f0f0;
}
.clear-container {
  display: flex;
  justify-content: flex-end;
  transition: .5s;
}
.join-button {
  border: none;
  padding: 15px 70px 15px 70px;
  background: #4C68FF;
  border-radius: 30px;
  color: #fff;
  font-weight: bold;
}
.submit-container {
  text-align: center;
  transition: .3s;
}
.join-button:hover {
  cursor: pointer;
}
.checkbox-group label {
  font-size: 16px;
  font-weight: 500;
}

/* ======================= main page ======================= */
.main-container {
  padding: 20px;
  background: #DCE4F8;
  height: 100vh;
}
.main-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 15px;
}
.main-logo img {
  width: 150px;
  margin-right: 70px;
}
.main-logo, .quick-nav ul {
  display: flex;
}
.teacher-name {
  font-weight: bold;
  color: #1D42A0;
}
.quick-nav ul {
  gap: 20px;
}
.quick-nav ul li {
  border: 1px solid #BBC6E0;
  background: #BBC6E0;
  padding: 3px 20px 3px 20px;
  border-radius: 15px;
  display: flex;
  align-items: center;
}
.quick-nav a {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
}
.quick-nav a,
.quick-nav a img {
  transition: .3s ease;
}
.quick-nav ul img {
  width: 20px;
}
.quick-nav ul img:last-child {
  margin-right: 0px;
}
.quick-nav li:hover {
  background: #939cb1;
}
.quick-nav li:hover a {
  color: #fff;
}
.quick-nav li:last-child:hover img {
  filter: brightness(0) invert(1);
}
.main-frame {
  display: flex;
}
#sidebar-load {
  flex: 1;
}
.main-info {
  flex: 9;
  padding: 0px 20px;
  width: 100%;
}
.sidebar {
  background: #334DD7;
  border-radius: 10px;
  height: 90vh;
  padding: 10px;
}
.sidebar-item {
  margin-bottom: 20px;
}
.sidebar-item a {
  color: #fff;
  font-weight: 200;
  font-size: 14px;
}
.sidebar-item a img {
  width: 16px;
}
.home-back {
  background: #001CA6;
  display: block;
  padding: 5px;
  border-radius: 20px;
  margin-bottom: 20px;
}
.home-back > img {
  margin-left: 5px;
}
.sidebar-item span:after {
  content: "\f107";
  font-family: fontawesome;
  padding-right: 5px;
  margin-top: 5px;
  transition: transform 0.5s ease;
  font-weight: normal;
  float: right;
}
.sidebar-item:first-of-type span:after {
  content: none;
}
.sidebar-item img {
  margin-right: 5px;
}
.sidebar-item span {
  font-weight: bold;
  font-size: 16px;
}
.menu-link {
  margin-left: 20px;
  transition: .3s ease;
  padding: 0px 10px;
  line-height: 1.6rem;
  display: block;
}
.menu-link.active {
  background: #001CA6;
  border-radius: 5px;
  }
.submenu a:hover {
  font-weight: 400;
}
.menu-toggle {
  display: block;
  margin-bottom: 10px;
}
.menu-toggle img {
  margin-left: 5px;
}
.sidebar-item a.active span:after {
  transform: rotateX(180deg);
}
/* welcome section */
.welcome-img {
  position: relative;
}
.welcome-img img {
  width: 95%;
}
.welcome-greet {
  position: absolute;
  top: 45%;
  left: 25%;
  transform: translate(-50%);
}
.welcome-greet h1 {
  font-size: 32px;
  font-weight: 600;
}
.welcome-greet p {
  color: #545968;
  margin-top: 8px;
}
/* my class status */
.class-title {
  margin-top: 30px;
  font-weight: 500;
  color: #52535A;
}
.class-status {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;
  padding: 10px;
  width: 95%;
  align-items: stretch;
}
.student-num, .absence-num, .edu-card, .book-card {
  background: #fff;
  border-radius: 10px;
  padding: 20px;
}
.student-info, .absence-info {
  display: flex;
  justify-content: space-between;
}
.student-num {
  margin-bottom: 10px;
}
.student-num, .absence-num {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: stretch;
  height: 100%;
}
.student-num img, .absence-num img {
  width: 45px;
  height: auto;
  object-fit: contain;
}
.student-info {
  display: flex;
  justify-content: space-between;
}
.edu-title, .edu-status, .book-title, .book-status {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.number {
  font-size: 45px;
  font-weight: bold;
}
.change {
  font-size: 14px;
}
.status-card, .quick-menu {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 350px;
}
.subtitle {
  font-size: 16px;
  color: #434343;
}
.class-button {
  display: flex;
  justify-content: flex-end;
}
.class-next {
  background: #9FB6EC;
  border-radius: 50%;
  width: 30px;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: .3s ease;
}
.class-next::after {
  content: "\e93e";
  font-family: xeicon;
  color: #FFF;
}
.class-next:hover {
  background: #889cc7;
}
.edu-title, .edu-status,
.book-title, .book-status {
  flex: 1;
}
.payment-badge,
.unpaid-badge {
  padding: 5px 30px 5px 30px;
  border-radius: 20px;
  display: block;
}
.payment-badge {
  background: #A2A5AB;
}
.unpaid-badge {
  background: #db4b3f;
}
.payment-num, .unpaid-num {
  font-size: 35px;
}
.edu-status, .book-status {
  text-align: center;
}
.quick-menu {
  background: #BECEF5;
  text-align: center;
  padding: 0 20px;
  border-radius: 10px;
  display: flex;
  justify-content: center;
}
.quick-menu h2 {
  color: #fff;
  margin: 5px 0px 25px 0px;
  font-weight: bold;
}
.mini-menu {
  padding: 17px;
  background: #9FB6EC;
  display: block;
  border-radius: 20px;
  font-size: 24px;
  margin-bottom: 15px;
  color: #fff;
  width: 100%;
}
.mini-menu:last-child {
  margin-bottom: 0;
}
.quick-desc a {
  transition: .3s ease;
}
.quick-desc a:hover {
  background: #889cc7;
}

/* ======================= student-main page ======================= */
.student-frame,
.thrid-frame {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  gap: 20px;
}
.student-frame > section {
  height: 100%;
  background: #fff;
  border-radius: 20px;
  padding: 20px;
}
.info-summary {
  flex: 3;
}
.info-desc {
  flex: 5;
}
.info-table {
  max-height: 400px;
}
.sibling-table {
  max-height: 200px;
}
.info-table,
.sibling-table,
.move-frame {
  overflow: hidden;
  overflow-y: auto;
}
.info-filters {
  display: flex;
  gap: 10px;
}
.info-filters > div {
  flex: 1;
}
.time-select {
  width: 30%;
  margin-bottom: 10px;
}
.info-filters .join-select select {
  padding: 10px;
}
.student-search input[type='text'] {
  padding: 7px;
}
.content-table tr {
  line-height: 1.6rem;
}
.content-table td:last-child {
  text-align: left;
}
.student-search {
  margin: 10px 0px 20px 0px;
  position: relative;
}
.student-search:after {
  content: "\e97a";
  font-family: "xeicon";
  position: absolute;
  top: 50%;
  right: 10px;
  transform: translateY(-50%);
  color: #C9D5F0;
}
.student-search:hover {
  cursor: pointer;
}
#institute-exist + label,
.radio-group label {
  margin-right: 20px;
}
.time-order {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
/* Show and Hide Tab Content */
.info-tab-btn {
  display: flex;
  gap: 15px;
  max-width: 60%;
  text-align: center;
}
.info-tab-btn a {
  flex: 1;
  background-color: #E0E3F6;
  padding: 8px 15px;
  border-radius: 20px;
}
.info-tab-btn a.active {
  background: #334DD7;
  color: #fff;
}
.info-tab-content {
  position: relative;
}
.tab {
  position: absolute;
  top: 0;
  left: 0;
  display: none;
  transition: .35s ease;
  padding-bottom: 30px;
  width: 80%;
}
.tab.active {
  display: block;
}
.student-form {
  display: flex;
  flex-direction: column;
  gap: 15px;
  max-width: 100%;
}
.form-row {
  display: flex;
  gap: 30px;
  margin-bottom: 10px;
  align-items: center;
}
.title {
  font-weight: 500;
}
.form-row label:not(.radio-group label) {
  font-weight: 500;
  white-space: nowrap;
  width: 80px;
}
.school-row,
.form-row .normal-input,
.form-row .basic-input,
.form-row .basic-select,
.form-row .radio-group,
.form-row .phone-group,
.form-row .date-input,
.form-row textarea {
  flex: 4;
  min-width: 0;
}
.form-row:first-child {
  margin-top: 20px;
}
.form-full {
  display: flex;
}
.phone-group {
  display: flex;
  align-items: center;
}
.date-container {
  display: flex;
  align-items: center;
  position: relative;
  width: 200px;
  margin-right: 20px;
}
.date-container input[type="date"] {
  width: 100%;
}
.info-note {
  font-size: 14px;
  color: #aaa;
  margin-top: 30px;
}
.student-btn {
  margin-top: 50px;
}
.save-btn-frame {
  text-align: center;
}
.save-btn {
  padding: 13px 50px;
  background: #334DD7;
  border: none;
  border-radius: 30px;
  color: #fff;
  margin: auto;
  display: inline-block;
}
#tab2 .save-btn {
  margin-top: 0px;
}
.han-logo,
.book-logo {
  display: flex;
  align-items: center;
  margin: 20px 0px;
}
.han-logo img,
.book-logo img {
  width: 80px;
  margin: auto;
}
.han-hr,
.book-hr {
  width: 100%;
  border: none;
  height: 3px;
  display: flex;
  margin-left: 30px;
}
.han-hr {
  background: #F06096;
}
.book-hr {
  background: #11B4B9;
}
.dotted-line {
  width: 100%;
  height: 2px; 
  background: repeating-linear-gradient(
    to right,          
    lightgray,         
    lightgray 5px,     
    transparent 5px,   
    transparent 10px    
  );
  margin: 20px 0px;
}
#counsel-tbody td {
  line-height: 1.6rem;
  padding: 15px;
  font-size: 13px; 
}
#counsel-tbody td:last-child {
  text-align: left;
  width: 50%;
  white-space: normal;
  word-break: break-word;
  padding-left: 10px;
}
#tab3 .title {
  margin-top: 20px;
}
/* calendar */
.calendar-container {
  width: inherit;
  background: #fff;
  border: 1px solid #ddd;
  border-radius: 10px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  margin-top: 40px;
  overflow: hidden;
}
.calendar-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 20px;
  background: #334DD7;
  color: #fff;
}
.calendar-header {
  background: #fff;
  border: none;
  border-radius: 5px;
  color: #334DD7;
  font-weight: bold;
  padding: 5px 10px;
  cursor: pointer;
}
.calendar-header {
  display: flex;
  justify-content: space-between; 
  align-items: center;
  padding: 10px 20px;
}
.month-navigation {
  display: flex;
  align-items: center;
  gap: 10px;
  margin: 0 auto;
}
.current-month {
  font-size: 18px;
  font-weight: bold;
}
.today-button {
  background-color: #00A1E0;
  color: white;
  border: none;
  padding: 5px 15px;
  border-radius: 5px;
  cursor: pointer;
}
.calendar-header .calendar-today {
  background: #1da1f2;
  color: #fff;
  border: none;
  padding: 5px 15px;
  border-radius: 5px;
  cursor: pointer;
}
.calendar-title {
  font-size: 18px;
  font-weight: bold;
}
.calendar-table {
  width: 100%;
  border-collapse: collapse;
  text-align: center;
  table-layout: fixed;
}
.calendar-table th, 
.calendar-table td {
  border: 1px solid #eee;
  padding: 15px;
  font-size: 14px;
  vertical-align: top;
  cursor: pointer;
}
.calendar-table th {
  background: #eef3ff;
  font-weight: bold;
}
.calendar-table td {
  height: 100px;
  position: relative;
}
.event {
  display: inline-block;
  margin-top: 10px;
  font-size: 12px;
  color: #fff;
  padding: 5px 10px;
  border-radius: 5px;
}
.event.green {
  background: #2eb62c;
}
.event.orange {
  background: #db4b3f;
}
/* ======================= counselation page ======================= */
.counsel-section {
  width: 100%;
}
.counsel-header {
  display: flex;
  justify-content: space-between;
}
.green-button {
  display: flex;
  align-items: center;
  background: #00A53B;
}
.left-search {
  display: flex;
  gap: 15px;
}
.month-adjust {
  display: flex;
  justify-content: center;
  margin: 30px 0px 50px 0px;
}
.month-adjust span {
  font-weight: 500;
  padding: 0px 30px;
}
.select-row {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 50px;
}
.select-row .basic-select {
  width: 200px;
}
.search-adjust {
  display: flex;
  width: 300px;
  margin: 0;
}
.checkbox-group input[type="checkbox"] + label {
  margin-right: 15px;
}
.join-btn {
  padding: 8px;
  background: #3AC4D9;
  border-radius: 30px;
  display: inline-block;
  width: 130px;
  color: #fff;
}
.counsel-write {
  max-height: 900px;
}
.counsel-write tr {
  line-height: 1.2rem;
}
.counsel-write th {
  padding: 10px;
}
.counsel-write td {
  padding: 20px 0px;
}
.counsel-write td:nth-child(8) {
  text-align: left;
}
.counsel-write td:nth-child(8),
.counsel-write td:nth-child(9) {
  padding: 0px 20px;
}
.counsel-write .date-input {
  width: 60%;
}
#consult-content {
  margin-bottom: 15px;
}
/* modal */
.modal {
  position: fixed;
  background-color: rgba(0, 0, 0, 0.4);
  border-radius: 10px;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  display: none;
}
.counsel-modal {
  height: 500px;
  width: 900px;
}
.delete-modal-content {
  width: 450px;
  height: 250px;
}
.manager-modal-content {
  width: 600px;
  height: 430px;
}
.manager-modal-content .form-row:first-child {
  margin-top: 0;
}
.manager-modal .modal-notice {
  text-align: left;
  width: 100%;
}
.manager-modal .modal-notice > div {
  width: 70%;
  font-size: 15px;
  margin: 20px 0px;
}
.modal-content {
  background-color: #fff;
  border-radius: 10px;
  position: absolute;
  transform: translate(-50%,-50%);
  top: 50%;
  left: 50%;
  padding: 40px;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.15);
}
.modal-line {
  border: none;
  border-top: 1px solid lightgray;
}
.modal-header {
  display: flex;
  align-items: center;
  margin-bottom: 40px;
  justify-content: space-between;
}
.delete-modal-content,
.manager-modal-content,
.time-change-modal-content {
  padding: 15px;
}
.line-modal-header {
  margin-bottom: 10px;
}
.delete-modal-content .modal-notice p {
  padding: 20px 0px;
  font-size: 17px;
}
.manager-modal .modal-notice {
  display: flex;
  align-items: center;
  flex-direction: column;
  text-align: left;
}
.modal-header h2 {
  font-size: 18px;
  font-weight: 500;
}
.btn-close:after {
  content: "\e921";
  font-family: xeicon;
  color: rgb(176, 175, 175);
  font-size: 20px;
}
.modal-notice {
  text-align: center;
  padding: 20px 0px;
}
/* ======================= manage-teacher page ======================= */
.manage-frame {
  width: 80%;
  display: flex;
}
.manager-list {
  flex: 5;
}
.manager-info {
  flex: 4.5;
}
.manager-frame {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
}
.time-table-list .month-adjust {
  margin: 0px 0px 20px 0px;
}
.manager-list .common-title {
  margin-bottom: 0px;
}
.mamage-table-frame table {
  table-layout: fixed;
  width: 100%;
}
.check-delete {
  color: #E27825;
  font-size: 14px;
  font-weight: 500;
  margin-top: 10px;
  cursor: pointer;
}
.check-delete::before {
  content: "\f1f8";
  font-family: fontawesome;
}
.authorization {
  color: gray;
  font-size: 14px;
  margin-top: auto;
}

.manage-table th:first-child, 
.manage-table th:nth-child(2) {
  border-right: 1px solid #DCE4F5;
}
.manage-table table {
  border-spacing: 0;
  table-layout: fixed;
}
.manage-table td[rowspan] {
  border-right: 1px solid #DCE4F5;
  position: relative;
}
.manage-table tr:hover {
  background: none !important;
}
.manager-info .form-row {
  margin-bottom: 20px;
  align-items: start;
}
.manager-row {
  margin-bottom: 15px;
}
.manager-row .basic-input {
  flex: 2;
  max-width: 300px;
}

/* ======================= student-inout page ======================= */
.move-summary,
.move-reason,
.move-list {
  height: 100%;
  background: #fff;
  border-radius: 20px;
  padding: 20px;
}
.full-section {
  width: 100%;
}
.move-summary {
  flex: 2;
}
.move-desc {
  flex: 5;
  gap: 20px;
}
.move-desc {
  display: flex;
  flex-direction: column;
  height: 100%;
}
.move-reason {
  flex: 3;
}
.move-list {
  flex: 7;
}
.move-reason-frame,
.move-list-frame {
  width: 70%;
}
.move-t-frame {
  max-height: 60vh;
}
.blank-adjust {
  padding-top: 20px;
}
.move-table tr {
  line-height: 1.6rem;
}
.move-table th,
.move-table td {
  padding: 8px 10px;
}
.content-table th,
.content-table td {
  padding: 8px 10px;
}
.move-list .month-adjust {
  margin: 15px;
}
.move-frame {
  max-height: 300px;
}

/* ======================= student-out page ======================= */
.out-section {
  width: 100%;
}
.student-out-inner {
  height: 80vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.student-num-frame {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 80px;
  gap: 15px;
}
.student-common-box {
  border: 1px solid transparent;
  width: 230px;
  height: 70px;
  border-radius: 10px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  color: #fff;
  font-size: 14px;
}
.student-common-box span {
  font-size: 40px;
  font-weight: bold;
}
.student-common-box:nth-child(1) {
  background: #02A7AF;
  border: 1px solid #00787E;
}
.student-common-box:nth-child(2) {
  background: #E05F55;
  border: 1px solid #BC3F36;
}
.student-common-box:nth-child(3) {
  background: #1FAC52;
  border: 1px solid #128A3E;
}
.student-common-box:nth-child(4) {
  background: #6B91EA;
  border: 1px solid #2B5DD0;
}
.entry-list-frame {
  display: flex;
  justify-content: space-around;
  gap: 20px;
}
.out-frame {
  height: 50vh;
}
.cancel-enroll,
.restore-enroll {
  display: flex;
  align-items: center;
  font-size: 14px;
  margin-top: 10px;
  font-weight: 500;
  cursor: pointer;
}
.cancel-enroll {
  color: #E16258;
}
.restore-enroll {
  color: #2273BF;
}
.cancel-enroll img,
.restore-enroll img {
  margin-right: 5px;
}
.delete-student {
  display: flex;
  justify-content: flex-end;
}
.delete-student-btn {
  font-size: 14px;
  border: 1px solid #807F7F;
  color: #807F7F;
  display: inline-block;
  padding: 2px 10px;
  border-radius: 15px;
  font-weight: 500;
  cursor: pointer;
  transition: .3s ease;
}
.delete-student-btn:hover {
  background-color: #807F7F;
  color: #fff;
}

/* ======================= class-timetable page ======================= */

.time-table-frame {
  display: inline-block;
  border: 2px solid #DFE6F7;
  border-radius: 10px;
  margin-top: 15px;
  max-height: 70%;
  overflow: hidden;
}
.time-frame {
  width: 85%;
}
.time-table-index {
  display: flex;
  flex: 5;
}
.time-name-list {
  flex: 2;
}
.calendar-overview {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 13px;
}
.prev-month-btn,
.schedule-btn {
  border-radius: 20px;
  color: #fff;
  cursor: pointer;
  padding: 5px 18px;
}
.prev-month-btn {
  background-color: #02A7AF;
}
.schedule-btn {
  background-color: #E05F55;
}
.time-tab-menu {
  display: flex;
  border: 2px solid #DFE6F7;
  border-radius: 15px;
  overflow: hidden;
}
.time-tab-menu button {
  flex: 1;
  padding: 10px 0;
  background: #fff;
  border: #5A7CE2;
  cursor: pointer;
  font-size: 16px;
  text-align: center;
  transition: background 0.3s;
  font-weight: bold;
  color: #5A7CE2;
  border-right: 2px solid #DFE6F7;
}
.time-tab-menu button:last-child {
  border: none;
}
.time-tab-menu button.active {
  background: #5A7CE2;
  color: white;
}
.time-tab-content {
  display: none;
}
.time-tab-content.active {
  display: block;
}
.time-table {
  width: 100%;
  border-collapse: collapse;
  border-style: hidden;
  background-color: white;
  color: #8C9BBD;
  font-size: 14px;
}
.time-table tr {
  border: #DFE6F7;
}
.time-table th, 
.time-table td {
  border: 2px solid #DFE6F7;
  padding: 10px;
  text-align: center;
}
.time-table th {
  background-color: #F7F9FF;
  font-weight: bold;
}
.time-table tbody tr td:not(:nth-child(4)) {
  background-color: #F7F9FF;
}
.time-chocie-table {
  max-height: 60vh;
}
.manager-frame .month-adjust {
  margin: 10px 0;
}
.time-chocie-frame {
  max-height: 70vh;
}
.time-chocie-frame label {
  margin-right: 10px;
}
.time-chocie-frame label:last-child {
  margin: 0px;
}
.time-chocie-frame > table {
  line-height: 1.6em;
}
.time-chocie-frame > table td:first-child {
  font-weight: 600;
}
.badge-han, .badge-book {
  padding: 0px 3px;
  border-radius: 5px;
  color: #fff;
  margin-right: 5px;
}
.badge-han {
  background: #F33E8F;
}
.badge-book {
  background: #0F95BC;
}
.badge-name {
  padding: 2px 6px;
  border-radius: 5px;
  background: #EBEEF6;
  color: #222;
  font-weight: 500;
  display: inline-flex;
  align-items: center;
}
.badge-name:after {
  content: "\e921";
  font-family: xeicon;
  font-weight: bold;
  color: #B1BAD8;
  margin-left: 4px;
}
.badge-week {
  color: #17AAB2;
}
.student-badge {
  display: inline-block;
  margin-right: 10px;
  margin: 2px 10px;
}
.manager-add {
  width: 95%;
  margin: auto;
}
.ma-modal {
  margin-top: 20px;
  max-height: 500px;
}
.time-change-modal-content {
  width: 900px;
  height: 750px;
}
.icon-text-frame {
  display: inline-flex;
  align-items: center;
  gap: 10px;
}
.blackboard-icon {
  width: 32px;
  height: 32px;
  background: #DCE4F8;
  padding: 10px;
  border-radius: 50%;
  position: relative;
}
.blackboard-icon img {
  width: 16px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
}
.time-adjust-table th:nth-child(1) {
  width: 7%;
}
.time-adjust-table th:nth-child(2) {
  width: 7%;
}
.time-adjust-table th:nth-child(3) {
  width: 15%;
}
.time-adjust-table th:nth-child(4) {
  width: 15%;
}
.time-adjust-table th:nth-child(5) {
  width: 15%;
}
.time-adjust-table th:nth-child(6) {
  width: 15%;
}
.time-adjust-table th:nth-child(7) {
  width: 15%;
}
.time-adjust-table tr td:nth-child(4) {
  border-right: 2px solid #DFE6F7;
  background: #F7F9FF;
}
input[type="time" i] {
  border: 1ps solid #DCE4F5;
  background: #EEF3FF;
  font-family: "Arial", sans-serif;
  color: #333;
}
.time-change-modal-content .save-btn {
  margin-top: 30px;
}

/* ======================= time-view page ======================= */
.timeview-frame {
  height: auto;
  width: 75%;
}
.timeview-table-frame {
  max-height: none;
}
.timeview-table {
  table-layout: fixed;
  height: auto;
}
.timeview-table th {
  background: #5A7CE2;
  border-color: transparent;
  color: #fff;
}
.timeview-table th,
.timeview-table td {
  border: 1px solid #CCD8F1;
  text-align: center;
}
.timeview-table tr {
  line-height: 1.6rem;
}
.timeview-table .merged {
  background: #F7F9FF;
  border-bottom: none;
  min-height: 50px;
  height: 50px;
  font-weight: bold;
  color: #7E8FB5;
}
.timeview-table .dotted {
  border-bottom: none;
}
.timeview-table td {
  height: 20px;
  min-height: 20px;
}
.timeview-table .dotted .name-tag {
  border-bottom: 1px dotted #CCD8F1;
  min-height: 20px;
  height: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.name-tag img {
  margin-right: 3px;
}
.timeview-table .dotted .name:last-child {
  border-bottom: none;
}
.timetable-time {
  margin-bottom: 0;
}
.merged .badge-han,
.merged .badge-book {
  font-size: 12px;
}
.timeview-tfoot {
  table-layout: fixed;
}
.vertical-header {
  background: red;
  writing-mode: vertical-rl;
  background-color: #f4f4f4;
  border: 1px solid #ddd;
  font-weight: 400;
  width: 30px;
}
.timeview-tfoot-header {
  background-color: #F7F9FF;
}
.timeview-tfoot tr {
  line-height: 1.6rem;
}
.timeview-tfoot td,
.jumpup-test td {
  border-right: 1px solid #ddd;
}
.name-details {
  height: 50px;
}
.all-hands {
  background: #5A7CE2;
  color: #fff;
  text-align: center;
}

/* ======================= bfclass page ======================= */
.class-info-section {
  flex: 6;
}
.class-info-section {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.class-info-frame {
  width: 90%;
}
.class-adjust {
  display: flex;
  margin-top: 20px;
}
.plan-filters {
  flex: 1;
}
.class-before-after {
  display: flex;
  flex: 1;
  margin-left: 20px;
}
.class-info {
  display: flex;
  margin-top: 15px;
}
.class-content {
  position: relative;
  height: 70vh;
}
.ctab {
  position: absolute;
  top: 0;
  left: 0;
  display: none;
}
.ctab.active {
  display: block;
}
.weeks-guide {
  flex: 3;
}
.name-guide {
  flex: 2;
  margin-left: 20px;
}

.class-info-section {
  flex: 6;
}
.before-send-section {
  flex: 4;
}
.weeks-table {
  height: 600px;
}
.weeks-table tr,
.before-table tr {
  line-height: 1.5rem;
}
.weeks-table label {
  margin-right: 0;
}
.weeks-table td:nth-child(1) {
  background: #F7F9FF;
  width: 20%;
}
.weeks-table .radio-group {
  display: flex;
  justify-content: center;
  font-weight: bold;
  color: #A5B0D4;
  font-size: 16px;
}
.weeks-table-frame {
  min-height: 550px;
}
.weeks-table td:nth-child(2) {
  text-align: left;
  padding: 10px 20px;
}
.class-info-section .month-adjust {
  margin: 0;
}
.name-frame {
  min-height: 300px;
}
.modify-info {
  margin-top: 20px;
}
.modify-info-frame {
  background: #EEF0F7;
  height: 180px;
  border-radius: 10px;
  font-size: 14px;
  padding: 30px 20px;
}
.class-info-btns {
  text-align: center;
  margin-top: 30px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.class-info-btns > div {
  width: 160px;
  height: 44px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 20px;
  font-weight: 400;
  color: #fff;
  cursor: pointer;
}
.sms-btn {
  background: #B4B6C1;
  margin-right: 20px;
}
.app-btn {
  background: #334DD7;
}
.name-highlight {
  font-weight: 500;
  color: #EE4E79;
}
.before-frame {
  min-height: 650px;
}
.before-table th,
.before-table td {
  padding: 10px;
}
.before-table th:nth-child(1) {
  width: 20px;
}
.before-table th:nth-child(2) {
  width: 50px;
}
.before-table th:nth-child(3) {
  width: 30px;
}
.before-table td:nth-child(2),
.before-table td:nth-child(3) {
  text-align: left;
}

/* ======================= afclass page ======================= */
.details-height {
  height: auto;
}
.class-log-section .class-adjust {
  width: 80%;
}
.student-log-frame {
  width: 97%;
}
.class-log-section {
  flex: 2;
}
.details-section {
  flex: 5;
}
.log-frame {
  min-height: 400px;
}
.log-table img {
  width: 18px;
  display: flex;
  margin: auto;
}
.month-report {
  text-align: center;
  margin-top: 10px;
}
.month-report .common-button {
  background: #EE4D79;
}
.details-frame {
  width: 80%;
}
.strapline {
  color: #92A1C2;
  font-weight: 500;
  margin-bottom: 10px;
  display: flex;
  align-items: center;
  margin-top: 30px;
}
.strapline img {
  margin-right: 10px;
}
.attend-btns {
  display: flex;
  gap: 15px;
  font-size: 15px;
}
.attend-btn {
  background: #D6DEF2;
  border-radius: 20px;
  padding: 10px 15px;
  color: #444;
}
.consult-box,
.personal-sms {
  display: flex;
  gap: 10px;
  height: 200px;
}
.consult-type,
.sms-type {
  width: 30%;
  padding: 10px;
  font-size: 14px;
  color: #bbb;
}
.consult-desc {
  width: 70%;
  line-height: 1.6em;
}
.details-table td:nth-child(3),
.sms-table td:nth-child(2) {
  text-align: left;
}
.details-table tr,
.sms-table tr {
  line-height: 1.6rem;
}
.consult-desc th,
.consult-desc td {
  padding: 7px;
}
.consult-select {
  width: 60%;
}
.sms-text {
  border: none;
  background: #fff;
  height: 80%;
  width: 100%;
}
.sms-table th:nth-child(1) {
  width: 20%;
}
.sms-table th:nth-child(2) {
  width: 80%;
}
.jumpup-test tfoot td:not(:first-child) {
  text-align-last: left;
}
.jumpup-test td {
  padding: 0 10px;
}
.jumpup-test .checkbox-group,
.book-table .checkbox-group {
  display: inline-block;
}
.jumpup-test .checkbox-group label,
.book-table .checkbox-group label {
  font-size: 14px;
}

/* ======================= class page ======================= */
.book-list {
  width: 100%;
}
.makeup-section {
  flex: 1;
}
.online-section {
  flex: 1;
}
.makeup-search {
  display: flex;
  width: 80%;
  align-items: center;
  gap: 10px;
}
.makeup-search .date-input {
  width: 30%;
}
.makeup-select {
  display: flex;
  justify-content: flex-end;
}
.makeup-select .basic-select {
  width: 100px;
}
.makeup-table {
  max-height: 500px;
}
.makeup-done {
  margin-top: 10px;
  color: gray;
  font-size: 14px;
}
.online-search {
  width: 30%;
}


/* ======================= book-list page ======================= */
.book-list-frame {
  height: 90vh;
  width: 90%;
}
.book-list-width {
  width: 80%;
}
.list-search {
  display: flex;
  width: 80%;
  gap: 10px;
  align-items: center;
}
.list-search .normal-select {
  width: 20%;
}
.makeup-search .student-search {
  margin: 0;
  width: 40%;
}
.list-search .makeup-search .student-search {
  width: 100%;
}
.list-search .student-search {
  margin: 0px
}
.book-inventory {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 20px 0px 10px 0px;
}
.book-num {
  color: #334DD7;
  font-weight: bold;
}
.book-inventory .normal-select {
  width: 150px;
}

/* ======================= book-result page ======================= */
.book-result {
  flex: 3;
}
.book-result-view {
  flex: 5;
}
.list-adjust input {
  flex: 1;
}
.list-adjust .student-search {
  flex: 1;
}
.book-result-send {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 30px 0px 5px 0px;
}
.result-table-frame {
  max-height: 65vh;
}
.book-result-content {
  width: 800px;
  height: 400px;
}
.sms-info {
  color: #334DD7;
  font-size: 20px;
  font-weight: 600;
  margin-top: 20px;
}
.sms-num-frame {
  margin: 30px 0px;
}
.sms-num-frame .normal-select {
  width: 150px;
  margin-left: 10px;
}
.num-info {
  display: block;
  font-size: 14px;
  color: gray;
  margin-bottom: 30px;
}
.book-result-modal .modal-notice {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

/* ======================= manage-sms page ======================= */
.manage-sms-frame {
  width: 80%;
}
.manage-sms-left {
  flex: 3;
}
.manage-sms-middle {
  flex: 3;
}
.manage-sms-right {
  flex: 2;
}
.s-list-frame {
  max-height: 60vh;
  margin-top: 10px;
}
.manage-sms-left .list-search {
  width: 100%;
}
.classify-select .normal-select {
  flex: 1;
  width: 100%;
}
.charge-frame {
  margin-bottom: 10px;
}
.charge-frame label {
  font-weight: 500;
  margin-right: 10px;
}
.left-charge {
  color: #2D48D5;
  font-weight: bold;
}
#check-point {
  background: rgb(72, 72, 72);
  margin-left: 10px;
  padding: 5px 10px;
}
.send-adjust {
  display: flex;
  gap: 10px;
  width: 60%;
}
.send-adjust input {
  flex: 1;
}
.appoint-words-frame {
  margin-bottom: 10px;
}
.appoint-sub {
  display: flex;
  margin-top: 30px;
}
.sms-word-frame {
  max-height: 350px;
}
.sms-word-table th {
  text-align: left;
}
.sms-word-table th,
.sms-word-table td:first-child {
  text-align: center;
}
.sms-word-table td:nth-child(2) {
  text-align: left;
}
.sms-word-table td {
  line-height: 1.2rem;
  padding: 10px;
  max-height: 40px;
}
.sms-word-table .radio-group label {
  margin-right: 0;
}
.sms-word-table td:first-child {
  width: 24%;
}
.sms-word-table p {
  text-align: left;
  overflow: hidden;
  text-overflow: ellipsis;
  max-height: inherit;
  width: 100%;
}
.directly-input {
  margin: 20px 0px;
  display: block;
}
.manage-textarea {
  margin-top: 10px;
  height: 150px;
  border-radius: 0;
}
.sms-content {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  height: 90%;
}
.sms-content {
  display: flex;
  justify-content: space-between;
}
/* smartphone */
.smartphone {
  width: 260px;
  height: 450px;
  background-color: #F7F9FF;
  border: 1px solid #DADADA;
  border-radius: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
}
.screen {
  flex-grow: 1;
  width: 100%;
  background-color: #FFFFFF;
  border: 1px solid #DADADA;
  display: flex;
  justify-content: center;
  align-items: center;
}
.screen-input {
  width: 90%;
}
.screen-text {
  width: 100%;
  padding: 0px;
  font-size: 16px;
  border: 1px solid transparent;
  border-radius: 8px;
  outline: none;
  height: 300px;
  width: 100%;
  background: transparent;
}
.bottom-bar {
  width: 60px;
  height: 20px;
  background-color: #F7F9FF;
  border-radius: 10px;
  margin: 10px 0;
  border: 1px solid #E5E5E6;
}
.sms-sum {
  margin-top: 20px;
  color: #7C7C7C;
  text-align: center;
  font-size: 14px;
  font-weight: 500;
}
.sms-num {
  color: #2D48D5;
}
.sms-btn-frame .common-button {
  padding: 20px 100px;
  border-radius: 40px;
  background: #2D48D5;
}
.sms-modal-content {
  width: 1000px;
  height: 750px;
}
.sms-modal-content .small-title {
  text-align: left;
}
.sms-list {
  display: flex;
  gap: 20px;
  overflow: hidden;
  overflow-x: auto;
}
.word-list-frame {
  display: flex;
  flex-direction: column;
  max-width: 250px;
  max-height: 250px;
}
.word-list {
  flex: 1;
}
.word-select {
  display: flex;
  align-items: center;
}
.word-select select {
  width: 100%;
}
.trash-icon::after {
  content: "\f014";
  font-family: fontawesome;
  margin-left: 10px;
  font-size: 25px;
  color: #7C7C7C;
  cursor: pointer;
}
.word-content textarea {
  width: 250px;
  min-height: 200px;
  margin-top: 10px;
  border-radius: 0;
  line-height: 1.2rem;
  text-align: left;
  padding: 18px;
}
.sms-modify-btn {
  margin-top: 20px;
}
.sms-modify-btn .save-btn {
  padding: 15px 80px;
}
/* point-modal */
.point-modal-content {
  height: 550px;
  width: 650px;
}
.point-info {
  margin: 10px 0px 30px 0px;
  font-weight: 500;
}
.modal-adjust {
  display: flex;
  align-items: center;
  flex-direction: column;
}
.point-desc {
  width: 80%;
  text-align: left;
}
.point-add {
  font-size: 13px;
  color: #A2A5AB;
  margin: 20px;
}
.point-btn-frame {
  margin: 10px;
  display: flex;
  gap: 20px;
}
.point-btn-frame button {
  width: 200px;
  height: 50px;
  border-radius: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.point-btn-frame button:nth-child(1) {
  background: #B8B8B8;
}
.point-btn-frame button:nth-child(2) {
  background: #334DD7;
}

/* ======================= order page ======================= */
.order-frame  {
  width: 85%;
}
.book-order {
  width: 35%;
}
.pre-order {
  width: 65%;
}
.order-info {
  font-size: 13px;
  margin: 12px 0px;
}
.order-info span {
  color: #334DD7;
}
.order-table {
  max-height: 600px;
}

/* spinner custom */
.spinner-frame {
  display: flex;
  justify-content: center;
  align-items: center;
}
.custom-spinner {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 60px;
  height: 25px;
  border: 1px solid #D6D6D6;
  background-color: #fff;
  position: relative;
}
.custom-spinner input[type="number"] {
  text-align: center;
  border: none;
  outline: none;
  font-size: 14px;
  background-color: transparent;
  appearance: textfield;
}
.spinner-buttons {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
  position: absolute;
  right: 0;
  top: 0;
  border-left: 1px solid #D6D6D6;
}
.spinner-buttons button {
  width: 12px;
  height: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
  background-color: #D6D6D6;
  color: #8B8B8B;
  cursor: pointer;
  font-size: 8px;
}
.spinner-buttons button:hover {
  background-color: #8B8B8B;
  color: #fff;
}
.spinner-buttons button:active {
  background-color: #5C5C5C;
}
.all-order {
  background: #FFD236;
  text-align: center;
  padding: 7px;
  margin-top: 10px;
}
.book-order-save {
  text-align: center;
  margin-top: 30px;
  width: 100%;
}
.book-order-save button {
  padding: 10px 50px;
  background: #334DD7;
}
.preorder-frame {
  max-height: 70vh;
}
.preorder-select {
  display: flex;
  justify-content: space-between;
}
.preorder-select .basic-select {
  width: 100px;
}
.preorder-day {
  display: flex;
  gap: 10px;
}
.decrease {
  color: #E65D3A;
}
.increase {
  color: #334DD7;
}

/* ======================= order page ======================= */
.return-table {
  max-height: 300px;
}
.all-add {
  max-height: 180px;
  overflow: hidden;
  overflow-y: auto;
}
.add-extra {
  display: flex;
  gap: 10px;
  margin-bottom: 10px;
}
.add-extra .custom-spinner {
  height: 30px;
}
.add-extra .trash-icon::after {
  color: #e65d3a;
}
.book-add,
.discount-add {
  color: #B6B5B5;
  margin-top: 10px;
  display: flex;
  cursor: pointer;
}
.book-add::before,
.discount-add::before {
  content: "\e917";
  font-family: xeicon;
  margin-right: 5px;
  font-size: 24px;
}

/* ======================= manage-deposit page ======================= */
.deposit-frame {
  width: 95%;
}
.deposit-student-list {
  width: 40%;
}
.month-order {
  width: 60%;
}
.deposit-search {
  display: flex;
  align-items: center;
  gap: 10px;
}
.deposit-search .normal-date-input {
  flex: 1;
}
.deposit-search .student-search {
  flex: 1;
  margin: 0;
}
.deposit-select {
  display: flex;
  justify-content: space-between;
  margin: 50px 0px 10px 0px;
}
.deposit-student {
  max-height: 65vh;
}
.deposit-student th:first-child {
  width: 12%;
}
.out-institute {
  color: #e65d3a;
}
.month-select {
  display: flex;
  justify-content: flex-end;
  padding-top: 25px;
}
.deposit-table {
  height: 70vh;
}
.deposit-table .normal-input {
  height: 25px;
  width: 80px;
}
.deposit-table td:last-child {
  display: flex;
  justify-content: center;
  align-items: center;
}
.deposit-table th:first-child {
  width: 8%;
}

/* ======================= manage-tuition page ======================= */
.lump-sum  {
  display: flex;
  margin-top: 10px;
}
.lump-sum input[type="text"] {
  width: 30%;
}
.book-order {
  width: 40%;
}
.pre-order {
  width: 60%;
}
.book-order .radio-group {
  font-size: 14px;
}
.tuition-frame {
  max-height: 70vh;
  margin-top: 15px;
}
.tuition-table input {
  width: 70%;
  vertical-align: middle;
}
.discount-row {
  display: flex;
  gap: 10px;
  align-items: center;
  width: 90%;
  margin-bottom: 10px;
}
.discount-row label{
  width: 55px;
  font-size: 14px;
  font-weight: 500;
}
.discount-row input {
  flex: 4;
}
.ma {
  margin-right: 30px;
}
.discount-row .basic-select {
  flex: 3;
}
.discount-row .trash-icon:after {
  color: #e65d3a;
  margin: 0px;
  font-size: 24px;
}

/* ======================= notice page ======================= */
.notice-container {
  width: 100%;
  background: #fff;
  height: 100%;
}
.notice-section {
  background: #fff;
}
.notice-inner {
  width: 1280px;
  margin: auto;
}
.notice-header {
  height: 200px;
  font-size: 28px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #444;
}
.notice-header span {
  font-size: 14px;
}
.notice-search {
  display: flex;
  justify-content: space-between;
  margin: 10px 0 5px 0;
  align-items: center;
}
.all-num span {
  color: #334DD7;
  font-weight: bold;
}
.notice-table {
  height: 50px;
}
.notice-tframe {
  border-top: 3px solid #DCE4F5;
  border-bottom: 3px solid #DCE4F5;
}
.vital {
  border: 1px solid #334DD7;
  padding: 0 10px;
  color: #334DD7;
}
.notice-table td:nth-child(2) {
  text-align: left;
}
.notice-table td {
  margin-left: 50px;
}
.notice-nums {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 50px;
}
.notice-nums a {
  padding: 0 8px;
  transition: .5s;
}
.notice-table a:hover {
  text-decoration: underline;
}
.notice-table tr:hover .vital {
  background: #334DD7;
  color: #fff;
}
.notice-nums a.active {
  padding: 0 7px;
  background: #334DD7;
  color: #fff;
  border-radius: 5px;
}
.notice-search .basic-select {
  width: 100px;
}
.notice-search .student-search {
  width: 300px;
}


/* ======================= notice-inner page ======================= */
.notice-inner-table td {
  text-align: left;
  padding: 40px;
}
.notice-inner-table th {
  height: 50px;
  background: #FBFCFF;
  text-align: left;
  padding: 0 40px;
}
.notice-inner-table th:nth-child(2) {
  font-weight: normal;
}
.notice-header .in-head {
  display: flex;
  justify-content: start;
}
.notice-in-header {
  margin: 60px 0 30px 0;
}
.notice-in-header h1 {
  font-weight: 500;
  font-size: 28px;
  color: #444;
}
.notice-save-btn {
  margin-top: 10px;
  float: right;
}
.notice-save-btn button {
  padding: 8px 25px;
}
.prev-next-frame {
  width: 100%;
  background: #FFF;
  border-bottom: 1px solid #DCE4F5;
  margin-top: 120px;
}
.prev-next-table {
  width: 100%;
  border-collapse: collapse;
  background-color: #FFF;
}
.prev-next-table td {
  padding: 10px;
  border-top: 1px solid #DCE4F5;
}
.notice-label {
  width: 15%;
  color: #666;
  font-weight: 500;
  text-align: left;
  vertical-align: middle;
  text-align: center;
  background: #FBFCFF;
  border-right: 1px solid #DCE4F5;
}
.prev-next-table td:nth-child(2) {
  padding-left: 20px;
}
.prev-next-table .content {
  text-align: left;
  vertical-align: middle;
}
.prev-next-table .content a {
  font-size: 14px;
}
.prev-next-table .content a:hover {
  text-decoration: underline;
}

